.navbarContainer {
  height: 100px;
  width: 100%;
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  -webkit-box-shadow: 1px 14px 15px -5px #fff;
  box-shadow: 1px 14px 15px -5px #fff;
  border-bottom: 1px solid black;
  margin-bottom: 100px;
  display: sticky;
  top: 0;
}

.navbarHeader {
  font-size: 2.3rem;
  font-weight: 800;
  cursor: pointer;
}
